fastapi
uvicorn[standard]
websockets
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-multipart
firebase-admin
google-cloud-storage
python-dotenv
alembic
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
httpx
beautifulsoup4  
pytest
httpx
 